<%- include('header') -%>

<h2 style="word-spacing: 10px;">Why Choose RentPe in India?</h2>
<br>
<p>We specialise in furniture on rent. As simple as it may seem, furniture on rent is a fairly new practice in India, with most rentals being very localised. We at RentPE however, maintain a pan-India presence with our offices at fifty of the biggest Indian metropolises. We are thus, a purely professional furniture, electronics, clothes, vahicle, home appliances, jewellery rental company, dedicated to providing you the best for the best price.</p>

<br>
<%- include('footer') -%>