<%- include('header') -%>
<form>

</form>

<div style="text-align: center;box-align: center;">
    <h2 style="word-spacing: 0.5em;">Need Help?</h2><br>
    <img src="/images/mail.png" style="height: 30px;width: 30px;position: absolute;margin-top: 15px;left:40em;">
        <h4 style="margin-left: 50px;position: relative;font-size: medium;"><a href="mailto:shreysoni38@gmail.com">shreysoni38@gmail.com</a></h4>
    <img src="/images/mail.png" style="height: 30px;width: 30px;position: absolute;left:40em;">
        <h4 style="margin-left: 105px;position: relative;margin-top: 28px;font-size: medium;"><a href="mailto:pateldarshan628.dp@gmail.com">pateldarshan628.dp@gmail.com</a></h4>
</div>
<br>
<%- include('footer') -%>