<%- include('header') -%>


<link href="/stylesheets/photo.css" rel="stylesheet" type="text/css" media="screen" />
<!-- Header -->
<div class="header">
    <h1>Electronics</h1>
  </div>
  
  <!-- Photo Grid -->
  <div class="row"> 
    <div class="column">
      <img src="/images/electronics/ele1.jpg"  style="width:100%">
      <img src="/images/electronics/ele2.jpg" style="width:100%">
      <img src="/images/electronics/ele3.jpg" style="width:100%">
      <img src="/images/electronics/ele4.jpg" style="width:100%">
      <img src="/images/electronics/ele5.jpg" style="width:100%">
      <img src="/images/electronics/ele6.jpg" style="width:100%">
      
    </div>
    <div class="column">
      
      <img src="/images/electronics/ele7.jpg" style="width:100%">
      <img src="/images/electronics/ele8.jpg" style="width:100%">
      <img src="/images/electronics/ele9.jpg" style="width:100%">
      <img src="/images/electronics/ele10.jpg" style="width:100%">
      <img src="/images/electronics/ele11.jpeg" style="width:100%">
      <img src="/images/electronics/ele12.jpg" style="width:100%">
    </div>  
</div>
<%- include('footer') -%>
   

