<%- include('header') -%>

<link href="/stylesheets/photo.css" rel="stylesheet" type="text/css" media="screen" />
<!-- Header -->
<div class="header">
    <h1>Farnitures</h1>
  </div>
  
  <!-- Photo Grid -->
  <div class="row"> 
    <div class="column">
      <img src="/images/farnitures/fan1.jpg"  style="width:100%">
      <img src="/images/farnitures/fan2.jpg" style="width:100%">
      <img src="/images/farnitures/fan3.jpg" style="width:100%">
      <img src="/images/farnitures/fan4.jpg" style="width:100%">
      <img src="/images/farnitures/fan5.jpg" style="width:100%">
      <img src="/images/farnitures/fan6.jpg" style="width:100%">
      <!-- <img src="/images/farnitures/fan13.jpg" style="width:100%"> -->
    </div>
    <div class="column">
      <img src="/images/farnitures/fan7.jpg" style="width:100%">
      <img src="/images/farnitures/fan8.jpg" style="width:100%">
      <img src="/images/farnitures/fan9.jpg" style="width:100%">
      <img src="/images/farnitures/fan10.jpg" style="width:100%">
      <img src="/images/farnitures/fan11.jpg" style="width:100%">
      <img src="/images/farnitures/fan12.jpg" style="width:100%">
    </div>  
</div>
<%- include('footer') -%>