<div id="footer">
        <p>2018. Untitled. All rights reserved. <br>Design by <b><a href="https://www.facebook.com/shrey.sony" rel="nofollow">Shrey Soni</a></b>&nbsp;&&nbsp;<b><a href="https://www.facebook.com/pateldarshan628">Darshan Patel</a></b>.</p>
    </div>
    
<br>

<!-- end #footer -->
</body>
</html>
