<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<title>RentPE</title>
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Coda:400,800" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	 	
</head>
<body>
<div id="menu-wrapper">
               
	<div id="menu">
           
		<ul>
			<li class="current_page_item"><a href="/">Homepage</a></li>
			<li><div class="dropdown" >
					<button class="dropbtn">&nbsp;&nbsp;&nbsp;&nbsp;Citys&nbsp;&nbsp;&nbsp;&nbsp; 
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					  <a href="/">Ahmedabad</a>
					  <a href="/">Surat</a>
					  <a href="/">Vdodara</a>
					  <a href="/">Bajana</a>
          	<a href="/">Rajkot</a>
            <a href="/">Bhavnagar</a>
            <a href="/">Jamnagar</a>
            <a href="/">Junagadh</a>
          	<a href="/">Anand</a>
					</div>
				  </div></li>
			<li>
			<li>
				<div class="dropdown">
					<button class="dropbtn">&nbsp;Products
						
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					  <a href="/farnitures">Farniture</a>
					  <a href="/electronics">Electronics</a>
                      <a href="/home_appliances">Home appliance</a>
                      <a href="/vahicles">Vahicles</a>
                      <a href="/jewellerys">Jewellery</a>
                      <a href="/clothes">clothes</a>
					</div>
				  </div>
			</li>
			<li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">login/Signup</a></li>
        </ul>
         
    </div>
    <div id="l" >
            <h1 style="margin-left: 80px;font-family: 'Arvo', serif;font-size: 45px;"><a href="#">RentPE!!!</a></h1>
            
    </div>
    <!-- end #menu --> 
    
</div>
<div id="header-wrapper">
	<!--<div id="header">
		<img src="images/Rent-Items-Icon.png" id="imghome" height="200px" width="200px">
	</div>-->
</div>
<div id="wrapper"> 
	<!-- end #header -->
	<div id="page-bgtop"></div>
	<div id="page">