<%- include('header') -%>

<link href="/stylesheets/photo.css" rel="stylesheet" type="text/css" media="screen" />
<!-- Header -->
<div class="header">
    <h1>Home Appliances</h1>
  </div>
  
  <!-- Photo Grid -->
  <div class="row"> 
    <div class="column">
      <img src="/images/home appliances/hom1.jpg"  style="width:100%">
      <img src="/images/home appliances/hom2.jpg" style="width:100%">
      <img src="/images/home appliances/hom3.jpg" style="width:100%">
      <img src="/images/home appliances/hom4.jpg" style="width:100%">
      <img src="/images/home appliances/hom5.jpg" style="width:100%">
      <img src="/images/home appliances/hom6.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="/images/home appliances/hom7.png" style="width:100%">
      <img src="/images/home appliances/hom8.jpg" style="width:100%">
      <img src="/images/home appliances/hom9.jpg" style="width:100%">
      <img src="/images/home appliances/hom10.jpg" style="width:100%">
      <img src="/images/home appliances/hom11.jpg" style="width:100%">
      <img src="/images/home appliances/hom12.jpg" style="width:100%">
    </div>  
</div>

<%- include('footer') -%>