<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<title>RentPE</title>
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Coda:400,800" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="menu-wrapper">
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="/">Homepage</a></li>
			<li><div class="dropdown" >
					<button class="dropbtn">&nbsp;&nbsp;&nbsp;&nbsp;Citys&nbsp;&nbsp;&nbsp;&nbsp; 
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					  <a href="/">Ahmedabad</a>
					  <a href="/">Surat</a>
                      <a href="/">Vdodara</a>
                      <a href="/">Bajana</a>
                      <a href="/">Rajkot</a>
                      <a href="/">Bhavnagar</a>
                      <a href="/">Jamnagar</a>
                      <a href="/">Junagadh</a>
                      <a href="/">Anand</a>
					</div>
				  </div></li>
			<li>
				<div class="dropdown">
					<button class="dropbtn">&nbsp;Products
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					  <a href="/farnitures">Farniture</a>
					  <a href="/electronics">Electronics</a>
                      <a href="/home_appliances">Home appliance</a>
                      <a href="/vahicles">Vahicles</a>
                      <a href="/jewellerys">Jewellery</a>
                      <a href="/clothes">clothes</a>
					</div>
				  </div>
			</li>
			<li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">login/Signup</a></li>
			
        </ul>
    </div>
    <!-- end #menu --> 
</div>
<div id="header-wrapper">
	<div id="header">
		<div id="logo">
                
			<h2 ><a href="#">RentPE!!!</a></h2>
			
		</div>
	</div>
</div>
<div id="wrapper"> 
	<!-- end #header -->
	<div id="page-bgtop"></div>
	<div id="page">



    <div style="border:2px solid black ;"><%- include('h_slide') -%></div>
    <div id="content">
        
        <div class="post">
            <h2 class="title">
                <a href="#">Welcome<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; to<br> &nbsp;&nbsp;&nbsp;&nbsp;RentPE </a>
            </h2>
            <img src="images/Rent-Items-Icon.png" id="imghome" height="200px" width="200px" >

            <p class="meta"><span class="date">AUG 30, 2018</span></p>
            <div style="clear: both;">&nbsp;</div>
            <div class="entry">
                <p>This is <strong>RentPE </strong>,Nowadays we do not have time to check out the market to find things on rent so RentPe will be the E-Commerce Website from which we can buy things on rent online, with reasonable prices according to the time period. Things Like Jewellery, Marriage Shopping, Vehicles, houses, Customers Needs to register themselves at ones and then they can buy or sell things on rent.
                
                <p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>
            </div>
        </div>
       
        <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- end #content --><br><br><br>
    <div id="sidebar">
        <ul>
            <li>
                <h2>SearCh Here:</h2>
                <div id="search" >
                    <form method="get" action="#">
                        <div>
                            <input type="text" name="s" id="search-text" value="" />
                            <input type="submit" id="search-submit" value="" />
                        </div>
                    </form>
                </div>
                <div style="clear: both;">&nbsp;</div>
            </li>
            
            <li>
                <h2>Categories</h2>
                <ul>
                    <li><a href="/farnitures">Farniture</a></li>
					<li><a href="/electronics">Electronics</a></li>
                    <li><a href="/home_appliances">Home appliance</a></li>
                    <li><a href="/vahicles">Vahicles</a></li>
                    <li><a href="/jewellerys">Jewellery</a></li>
                    <li><a href="/clothes">clothes</a></li>
                </ul>
            </li>
            <li>
                <h2>Follow Us</h2>
					<ul>
						<li><a href="https://www.facebook.com/" ><img src="images/facebook.png" height="40px" width="40px"></a></li>
						<li><a href="https://plus.google.com/" ><img src="images/google-plus.png" height="40px" width="40px"></a></li>
						<li><a href="https://in.linkedin.com/" ><img src="images/linkedin.png" height="40px" width="40px"></a></li>
						<li><a href="https://in.pinterest.com/" ><img src="images/pinterest.png" height="40px" width="40px"></a></li>
						<li><a href="https://twitter.com/" ><img src="images/twitter.png" height="40px" width="40px"></a></li>
						
					</ul>
            </li>
        </ul>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
    </div>
    <div id="page-bgbtm"></div>
    <!-- end #page --> 
    </div>

    <div id="footer">
        <p>2018. Untitled. All rights reserved. <br>Design by <b><a href="https://www.facebook.com/shrey.sony" rel="nofollow">Shrey Soni</a></b>&nbsp;&&nbsp;<b><a href="https://www.facebook.com/pateldarshan628">Darshan Patel</a></b>.</p>
    </div>
    <!-- end #footer -->

</body>
</html>
    
