<%- include('header') -%>

<link href="/stylesheets/photo.css" rel="stylesheet" type="text/css" media="screen" />
<!-- Header -->
<div class="header">
    <h1>Jewellery</h1>
  </div>
  
  <!-- Photo Grid -->
  <div class="row"> 
    <div class="column">
      <img src="/images/jewellery/jew1.jpg"  style="width:100%">
      <img src="/images/jewellery/jew2.jpg" style="width:100%">
      <img src="/images/jewellery/jew3.jpeg" style="width:100%">
      <img src="/images/jewellery/jew4.jpg" style="width:100%">
      <img src="/images/jewellery/jew5.jpeg" style="width:100%">
      <img src="/images/jewellery/jew12.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="/images/jewellery/jew7.jpeg" style="width:100%">
      <img src="/images/jewellery/jew8.jpg" style="width:100%">
      <img src="/images/jewellery/jew9.jpg" style="width:100%">
      <img src="/images/jewellery/jew10.jpg" style="width:100%">
      <img src="/images/jewellery/jew11.jpg" style="width:100%">
      <img src="/images/jewellery/jew6.jpg" style="width:100%">
    </div>  
</div>
<%- include('footer') -%>