<%- include('header') -%>
<!DOCTYPE html>
<html>

<body>

<!-- Header -->
<div class="header">
  <h1>Image Grid</h1>
</div>

<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="images/vahicle/car1.jpg" alt="car1" style="width:100%">
    <img src="images/car2.jpg" style="width:100%">
    <img src="images/car3.jpeg" style="width:100%">
    <img src="images/car4.jpg" style="width:100%">
    <img src="images/car5.jpg" style="width:100%">
    <img src="images/car6.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="images/fan1.jpg" style="width:100%">
    <img src="images/fan2.jpg" style="width:100%">
    <img src="images/fan3.jpg" style="width:100%">
    <img src="images/fan4.jpg" style="width:100%">
    <img src="images/fan5.jpg" style="width:100%">
    <img src="images/fan6.jpg" style="width:100%">
  </div>  
  <div class="column">
    <img src="images/mar1.png" style="width:100%">
    <img src="images/mar2.jpg" style="width:100%">
    <img src="images/mar3.jpg" style="width:100%">
    <img src="images/mar4.jpeg" style="width:100%">
    <img src="images/mar5.jpg" style="width:100%">
    <img src="images/mar6.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="images/jew3a.png" style="width:100%">
    <img src="" style="width:100%">
    <img src="" style="width:100%">
    <img src="" style="width:100%">
    <img src=""" style="width:100%">
    <img src="" style="width:100%">
  </div>
</div>



<%- include('footer') -%>